.blue{
    color: chartreuse;
background-color: crimson;
}
#pandey{
    background-color: rgb(151, 140, 145);
    color: darkred;

}
.gaurav{
    background-color: dimgray;
    color: gold;
}